---
import Section from "../../layouts/section.astro";
import Button from '../atoms/button.astro';
import SectionName from '../atoms/section-name.astro';
import {getAllData as getAllProjects} from "../../services/data";
import Project from '../molecules/project.astro';

interface Project {
  title: string;
  metadata: {
    project_image: {
      imgix_url: string;
    }
    single_line_summary: string;
    alttext: string;
  };
}

const projects: Project[] = await getAllProjects('projects', 'title,metadata.project_image.imgix_url,metadata.alttext,metadata.single_line_summary,4');
---

<Section bg={'bg-ref-green-99'}>
  <SectionName>My Projects</SectionName>
  <h2 class="h2">
    Projects that I've worked in
    <br />
    past few years
  </h2>

  <div class="grid grid-cols-1 gap-x-[2.2rem] gap-y-4 projects md:grid-cols-2">
    {
      projects.map(({title, metadata: {alttext,project_image: {imgix_url},single_line_summary}}) => (
        <Project
          title={title}
          altText={alttext}
          image={imgix_url}
          summary={single_line_summary}
        />
    ))}
  </div>
  
  <Button icon="right-arrow" class="mx-auto">View all Projects</Button>
</Section>

<style>
 .h2 {
    margin-block-end: 6.4rem;
  }
  .projects {
    margin-block-end: 9.6rem;
  }
</style>