---
import { frontmatter } from '../content/seo/articles.md';
import { getCollection } from 'astro:content';
import PageLayout from '../layouts/page-layout.astro';
import Section from '../layouts/section.astro';
import Card from '../components/molecules/card.astro';

const articles = await getCollection('articles');
---

<PageLayout meta={frontmatter}>
  <Section>
    <h1 class='text-center'>Articles</h1>
    <h2 class='text-center text-display-small tracking-wide h2 text-gray'>
      Unleashing the power of words
    </h2>
    <div class='grid grid-cols-1 gap-x-2 gap-y-4 projects md:grid-cols-2'>
      {
        articles.map((article) => {
          return (
            <Card
              title={article.data.title}
              subtitle={article.data.subtitle}
              imageShow={article.data.imageShow}
              imageShowAlt={article.data.imageShowAlt}
              imageSlide={article.data.imageSlide}
              imageSlideAlt={article.data.imageSlideAlt}
            />
          );
        })
      }
    </div>
  </Section>
</PageLayout>

<style>
  .h2 {
    margin-block-start: 0.4rem;
    margin-block-end: 9.6rem;
  }
</style>
