---
import { Icon } from 'astro-icon';

type AsProps = { as?: 'a'; href: string; role: 'button' } | { as?: 'button' };
interface CommonProps {
  class?: string;
  backgroundColor?: string;
  fontSize?: string;
}

type ConditionalProps =
  | { icon?: string; iconSize: string }
  | { icon?: undefined; iconSize: undefined };

type Props = CommonProps & ConditionalProps & AsProps;

const {
  as,
  icon,
  class: className,
  backgroundColor = 'bg-source-primary',
  fontSize = 'text-headline-medium',
  iconSize,
  ...rest
} = Astro.props as Props;

const Component = as || 'button';
---

<Component
  {...rest}
  class:list={[
    `px-sm ${backgroundColor} ${fontSize} border-0  rounded-[48px] py-lg ${className}`,
    { 'pd-md': icon },
  ]}
>
  <slot />
  {
    icon !== undefined && (
      <span class={iconSize}>
        <Icon name={icon} class={iconSize} />
      </span>
    )
  }
</Component>

<style>
  button,
  a {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
  }
  .py-lg {
    padding-inline: 4.8rem;
  }
  .px-sm {
    padding-block: 2.4rem;
  }
  .pd-md {
    padding-inline: 3.2rem;
  }
</style>
