---
import { Icon } from 'astro-icon';

interface Props {
  href: string;
  icon: string;
  ariaLabel: string;
  className?: string | undefined;
}

const { href, icon, ariaLabel, className = 'h-2 w-2' } = Astro.props as Props;
---

<span class={className}>
  <a
    href={href}
    aria-label={ariaLabel}
    target='_blank'
    rel='noreferrer noopener'
  >
    <Icon name={icon} class={className} />
  </a>
</span>
