---
import { Picture } from '@astrojs/image/components';

type Image = {
  src: string;
  alt: string;
  loading?: 'lazy' | 'eager';
};
interface Props {
  images: Image[];
  subtitle: string;
  title: string;
}

const { images, subtitle, title } = Astro.props as Props;
const classes = ['image-slide', 'image-show'];
---

<div class='card'>
  <div class='rounded-[2.4rem] image-container overflow-hidden'>
    {
      images.map(({ src, alt, loading = 'eager' }, i) => (
        <Picture
          src={src}
          alt={alt}
          class={`image ${classes[i]}`}
          aspectRatio={4 / 3}
          widths={[400, 768]}
          sizes='(max-width: 767px) 400px,  768px'
          width={768}
          height={576}
          loading={loading}
        />
      ))
    }
  </div>
  <h3 class='text-title-large h3'>{title}</h3>
  <p class='text-body-large'>{subtitle}</p>
</div>

<style>
  .card:hover .image-slide {
    transform: translateX(0);
  }
  .card:hover .image-show {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  .image-container {
    margin-block-end: 2.4rem;
    position: relative;
    width: 100%;
  }
  .image-show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 1s cubic-bezier(0.3, 1, 0.2, 1);
  }
  .image-slide {
    position: absolute;
    inset: 0;
    transform: translateX(20%);
    transition: transform 1s cubic-bezier(0.3, 1, 0.2, 1);
  }
  .h3 {
    margin-block-end: 1.2rem;
  }
</style>
