---
import Number from '../atoms/number.astro';

interface Props {
  number: string;
  company: string;
  role: string;
  color: string;
}

const { number, color, company, role } = Astro.props as Props;
---

<div>
  <div class="number">
    <Number color={color}>{number}</Number>
  </div>
  <h3 class="text-title-large">
    <span class={color}>{company}</span>, {role}
  </h3>
  <p class="text-body-large">
    <slot />
  </p>
</div>

<style>
  .number, .text-title-large {
    margin-block-end: 1.2rem;
  }
  h3 {
    margin-block-end: 1.2rem;
  }
  p {
    max-inline-size: max-content;
    hyphens: auto;
  }
</style>